<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			internalLogFile="c:\log.txt"
			internalLogLevel="Info">

  <extensions>
    <add assembly="NLogToSlack" />
  </extensions>

  <targets async="true">
    <target xsi:type="ColoredConsole"
			name="console"
			layout="${date:format=HH\:mm\:ss} ${message:withException=false}${exception}" />
    
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>